{% extends "base.html" %}
{% block content%}
<div class="container">
    <div class="row show-grid">
        <div class="span4"><a href="/chat/"><i class="icon-group icon-3x"> Chat</i></a></div>
        <div class="span4"><i class="icon-envelope icon-3x"> Tickets</i></div>
        <div class="span4"><i class="icon-exclamation-sign icon-3x"> Issues</i></div>
    </div>
    <div class="row">
        <br>
        <div class="span4"><a href="/todo/"><i class="icon-list-ul icon-3x"> Tasks </i></a></div>
        <div class="span4"><a href="/manage/"><i class="icon-wrench icon-3x">  Admin </i></a></div>
    </div>
</div>
{% endblock %}

